src/handles/ns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://tempuri.org/ns.xsd/Service.wsdl"
 xmlns:tns="http://tempuri.org/ns.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="http://tempuri.org/ns.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/ns.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="http://tempuri.org/ns.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="read">
   <complexType>
    <sequence>
     <element name="interest" type="xsd:unsignedByte" minOccurs="1" maxOccurs="unbounded"/><!-- ns__read::interest -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="readResponse">
   <complexType>
    <sequence>
     <element name="response" type="xsd:unsignedByte" minOccurs="0" maxOccurs="unbounded"/><!-- ns__read::response -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="insert">
   <complexType>
    <sequence>
     <element name="data" type="xsd:unsignedByte" minOccurs="1" maxOccurs="unbounded"/><!-- ns__insert::data -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="insertResponse">
   <complexType>
    <sequence>
     <element name="response" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__insert::response -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="remove">
   <complexType>
    <sequence>
     <element name="interest" type="xsd:unsignedByte" minOccurs="1" maxOccurs="unbounded"/><!-- ns__remove::interest -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="removeResponse">
   <complexType>
    <sequence>
     <element name="response" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__remove::response -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="readRequest">
 <part name="Body" element="ns:read"/><!-- ns__read::ns__read -->
</message>

<message name="readResponse">
 <part name="Body" element="ns:readResponse"/>
</message>

<message name="insertRequest">
 <part name="Body" element="ns:insert"/><!-- ns__insert::ns__insert -->
</message>

<message name="insertResponse">
 <part name="Body" element="ns:insertResponse"/>
</message>

<message name="removeRequest">
 <part name="Body" element="ns:remove"/><!-- ns__remove::ns__remove -->
</message>

<message name="removeResponse">
 <part name="Body" element="ns:removeResponse"/>
</message>

<portType name="ServicePortType">
 <operation name="read">
  <documentation>Service definition of function ns__read</documentation>
  <input message="tns:readRequest"/>
  <output message="tns:readResponse"/>
 </operation>
 <operation name="insert">
  <documentation>Service definition of function ns__insert</documentation>
  <input message="tns:insertRequest"/>
  <output message="tns:insertResponse"/>
 </operation>
 <operation name="remove">
  <documentation>Service definition of function ns__remove</documentation>
  <input message="tns:removeRequest"/>
  <output message="tns:removeResponse"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="read">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="insert">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="remove">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.8.21 generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
